.colorContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .colorSwatch {
    margin: 5px;
    border: solid 2px #dcdcdc;
    border-radius: 5px;

    height: 20px;
    width: 20px;

    transition: transform 0.1s;

    &.start-color {
      border: solid 2px #61a4e8;
      box-shadow: 0 0 4px #61a4e850
    }

    &.editable {
      cursor: move;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &.cdk-drop-list-dragging {
    .paletteButton {
      border: solid 2px rgba(220, 220, 220, 0.2);
      color: rgba(220, 220, 220, 0.2);
    }
  }

  .paletteSpacer {
    height: 30px;
    width: 30px;
  }

  .paletteButton {
    margin: 5px;
    border: solid 2px rgba(220, 220, 220, 0.55);
    color: rgba(220, 220, 220, 0.55);
    border-radius: 5px;

    height: 20px;
    width: 20px;

    cursor: pointer;
    user-select: none;
  }
}

.panel .input-container {
  margin-bottom: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;

  input {
    width: 18px;
    margin-right: 5px;
  }
}
