<ng-container *ngIf="canvasData$ | async as canvasData">
  <div class="panel">
    <div>
      <div class="title">Canvas Size</div>
      <div>current:</div>
      <div>
        <div>{{ canvasData.width }} x {{ canvasData.height }}</div>
      </div>
    </div>
    <br />
    <div>
      <div>
        <div>set new size:</div>
      </div>
      <div>
        <input type="number" [placeholder]="canvasData.width" /> x
        <input type="number" [placeholder]="canvasData.height" />
      </div>
      <button>Submit</button>
    </div>
  </div>
  <div class="panel">
    <div>
      <div class="title">Canvas Palette</div>
      <div>current:</div>
      <div class="colorContainer">
        <div
          class="colorSwatch"
          *ngFor="let color of canvasData.palette"
          [style.background-color]="color"></div>
        <div class="paletteSpacer"></div>
      </div>
    </div>
    <br />
    <div>
      <div>update palette:</div>
      <div
        class="colorContainer"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="colorMoved($event)">
        <div *ngFor="let colorInfo of currentPalette; index as i" cdkDrag>
          <!--suppress HtmlUnknownBooleanAttribute -->
          <div
            *cdkDragPreview
            class="colorSwatch"
            [style.background-color]="colorInfo.color"></div>
          <div
            cdkDragHandle
            class="colorSwatch editable"
            [style.background-color]="colorInfo.color"></div>
          <div class="paletteButton" (click)="removeColor(i)">x</div>
        </div>
        <div class="paletteButton">+</div>
      </div>
      <button (click)="resetPalette(canvasData.palette)">Reset</button>
      <button>Submit</button>
    </div>
  </div>
</ng-container>
