<ng-container *ngIf="canvasData$ | async as canvasData">
  <div class="panel">
    <div>
      <div class="title">Canvas Size</div>
      <div>current:</div>
      <div>
        <div>{{ canvasData.width }} x {{ canvasData.height }}</div>
      </div>
    </div>
    <br />
    <form [formGroup]="resizeForm" (ngSubmit)="submitResize()">
      <div>
        <div>set new size:</div>
      </div>
      <div class="input-container">
        <input
          formControlName="width"
          type="number"
          required
          placeholder="width" />
        x
        <input
          formControlName="height"
          type="number"
          required
          placeholder="height" />
      </div>
      <div class="checkbox-container">
        <input
          formControlName="allowSmaller"
          type="checkbox"
          id="allowSmaller"
          name="allowSmaller" />
        <label for="allowSmaller">allow smaller values</label>
      </div>
      <div class="error-container">
        {{ sizeErrorMessage }}
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="panel">
    <div>
      <div class="title">Canvas Palette</div>
      <div>current:</div>
      <div class="colorContainer">
        <div
          class="colorSwatch"
          *ngFor="let color of canvasData.palette; index as i"
          [class.start-color]="i === canvasData.startColor"
          [style.background-color]="color"></div>
        <div class="paletteSpacer"></div>
      </div>
    </div>
    <br />
    <div>
      <div>update palette:</div>
      <div
        class="colorContainer"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="colorMoved($event)">
        <div *ngFor="let colorInfo of currentPalette; index as i" cdkDrag>
          <!--suppress HtmlUnknownBooleanAttribute -->
          <div
            *cdkDragPreview
            class="colorSwatch"
            [style.background-color]="colorInfo.color"></div>
          <div
            [colorPicker]="colorInfo.color"
            (colorPickerSelect)="updateColor(i, $event)"
            (colorPickerOpen)="openPicker(i)"
            [cpOKButton]="true"
            [cpCancelButton]="true"
            cpOKButtonText="Update Color"
            cpAlphaChannel="disabled"
            cpOutputFormat="hex"
            cpOKButtonClass="extra-space"
            cpCancelButtonClass="extra-space"
            cdkDragHandle
            [cpExtraTemplate]="setStartColorTemplate"
            class="colorSwatch editable"
            [class.start-color]="i === currentStartColor"
            [style.background-color]="colorInfo.color"></div>
          <div class="paletteButton" (click)="removeColor(i)">x</div>
        </div>
        <div
          class="paletteButton"
          colorPicker="#ffffff"
          (colorPickerSelect)="addColor($event)"
          [cpOKButton]="true"
          [cpCancelButton]="true"
          cpOKButtonText="Add Color"
          cpAlphaChannel="disabled"
          cpOutputFormat="hex"
          [cpSaveClickOutside]="false">
          +
        </div>
      </div>
      <div class="error-container">
        {{ paletteErrorMessage }}
      </div>
      <button (click)="resetPalette(canvasData.palette, canvasData.startColor)">
        Reset
      </button>
      <button (click)="submitPalette()">Submit</button>
    </div>
  </div>
</ng-container>

<ng-template #setStartColorTemplate>
  <div class="checkbox-container">
    <input
      (change)="checkboxChanged($event)"
      type="checkbox"
      id="backgroundCheck"
      name="backgroundCheck"
      [checked]="currentlyOpenIsStartColor"
      [disabled]="currentlyOpenIsStartColor" />
    <label for="backgroundCheck">is background color</label>
  </div>
</ng-template>
